In [146]:
import pandas as pd
from sqlalchemy import URL, create_engine
import json
import os
from table_schema import Base, Dates, Branch, Countries, Dealer, Products, Revenue

In [147]:
# Create connection to postgre

print(os.environ.get("DBHOST"))

None

In [137]:
filepath = 'raw_data/star-schema-2.xlsx'
config_file = 'config.json'

df_dict = {}

with open(config_file, 'r') as f:
    config = json.load(f)

for sheet in config:
    params = config[sheet]["READ_PARAMS"]
    df_dict[sheet] = pd.read_excel(filepath, **params)


# Country table contains duplicates

df = df = df_dict["Country"]
df.drop_duplicates(subset=["country_id"], inplace=True)

Empty DataFrame
Columns: [country_id, country_nm]
Index: []

In [139]:
df_dict["Dealer"]

,dealer_id,dealer_nm,location_id,location_nm,country_id
0,DLR0001,AC Cars Motors,LOC002,Kandahar,CNTR001
1,DLR0002,Acura Motors,LOC004,Ayios Nikolaos,CNTR002
2,DLR0003,Aixam-Mega (including Arola) Motors,LOC006,Jomala,CNTR003
3,DLR0004,Alfa Romeo Motors,LOC008,Durrës,CNTR004
4,DLR0005,Alpine Motors,LOC010,Oran,CNTR005
...,...,...,...,...,...
257,DLR0263,Auto-Union Motors,LOC516,Utufua,CNTR242
258,DLR0264,Auverland Motors,LOC518,Dakhla,CNTR243
259,DLR0265,Bentley Motors,LOC520,Aden,CNTR244
260,DLR0266,Bitter Motors,LOC522,Kitwe,CNTR245
261,DLR0267,BMW Motors,LOC524,Bulawayo,CNTR246